<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a style="margin-left: 500px;" class="navbar-brand" href="/">Super<i class="fa-solid fa-people-pulling" style="color: #ffffff;"></i>HERO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  </div>
</nav>
<!-- body -->
<button class="btn btn-outline-success" style="margin-left: 100px; margin-top: 100px;" (click)="initHero()">Create Hero</button><div class="row">

  <div class="col-9">
    <h2 class="ms-5 mt-5">List of Heroes</h2>
  <table class="table table-hover" style="margin-left: 200px;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Place</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes" class="table-success">
      <th scope="row">{{hero.id}}</th>
      <td>{{hero.name}}</td>
      <td>{{hero.firstName}}</td>
      <td>{{hero.lastName}}</td>
      <td>{{hero.place}}</td>
      <td>
        <button  class="btn btn-outline-info" (click)="updateHero(hero)" *ngIf="hero.id">Edit</button>
     
      </td>
    </tr> 
  </tbody>
</table>
</div>
</div>
<app-edit-hero [hero]="heroToEdit" (heroesUpdated)="updateHeroList($event)"></app-edit-hero>