
<div *ngIf="hero">
    <h2>{{hero.name}}</h2>
    <div>
        Name:
      <input [(ngModel)]="hero.name" placeholder="Name"/>
    </div>
    <div>
        First Name:
     <input [(ngModel)]="hero.firstName" placeholder="first name"/>
    </div>
    <div>
        Last Name:
     <input [(ngModel)]="hero.lastName" placeholder="last name"/>
    </div>
    <div>
        Place:
     <input [(ngModel)]="hero.place" placeholder="Place"/>
    </div>
    <div>
      <button (click)="updateHero(hero)" *ngIf="hero.id">Edit</button>
      <button (click)="DeleteHero(hero)" *ngIf="hero.id">Delete</button>
      <button (click)="CreateHero(hero)" *ngIf="!hero.id">Create</button>

    </div>
</div>
